@media only screen and (max-width: 991px) and (min-width: 768px) {
	ul.navbar-nav a{
		font-size: 14px;
		padding: 3px !important;
		margin: 7px !important;
	}
	ul.navbar-nav a:hover {
		font-size: 14px;
		padding: 3px !important;
		margin: 7px !important;
	}
	.payment{
		padding: 5px !important;
	}
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
	ul.navbar-nav a{
		font-size: 18px;
	}
	ul.navbar-nav a:hover {
		font-size: 18px;
	}
	.navtext{
		display: none !important;
	}
	.payment{
		padding: 3px !important;
		width: 100% !important;
	}
	.login{
		width: 100% !important;	
	}
	.new_ad{
		width: 100% !important;	
	}
}
@media only screen and (max-width: 575px) {
	ul.navbar-nav a{
		margin: 0px !important;
	}
}