@media only screen and (max-width: 991px) and (min-width: 768px) {
	ul.navbar-nav a{
		font-size: 12px;
		padding: 7px !important;
		margin: 7px !important;
	}
	ul.navbar-nav a:hover {
		font-size: 12px;
		padding: 7px !important;
		margin: 7px !important;
	}
}

@media only screen and (max-width: 767px) {
	ul.navbar-nav a{
		font-size: 18px;
	}
	ul.navbar-nav a:hover {
		font-size: 18px;
	}
	.navtext{
		display: none;
	}
}