.First_color{
	color:#17252A !important;
	font-size: 20px;
	line-height: 1.5em; 
}
.Second_color{
	color:#2B7A78 !important;
	font-size: 16px;
	line-height: 1.5em; 	
}
.Third_color{
	color:#3AAFA9 !important;
	font-size: 16px;
	line-height: 1.5em; 
}
.modal-header{
	background-color:#DEF2F1 !important;
}
.badge{
	background-color:#86C232 !important;
}
.navbar{
	background-color:#3AAFA9 !important;
}
.login {
    border: 7px solid #73AD21;
}
.payment {
    border: 7px solid #F8E831;
    border-bottom: 15px solid #F8E831;
}
.fare {
    border: 3px solid #3AAFA9;
}
.new_ad{
   border: 3px solid #FFD700;
}